version: '3.8'

services:
  api:
    build: ./backend
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app
  
  web:
    build: ./frontend
    ports:
      - "8000:8000"
    depends_on:
      - api